<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="static/href.css">
  <title>Document</title>
</head>
<body>

<div class="circle-image">
  <div class = "acc_info">
    <h1>{{ user }}</h1>
    <img src="static/Telegram.webp">
    <b>че</b>
    <img src="static/gh.png">
    <b>че</b>
    <img src="static/settings.png" alt="">
    <a href="/settings">ссылка</a>
  </div>
  <img src="static/download.jpg"/>
</div>  

</body>
</html>