<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/href.css">
    <title>Поиск проектов</title>
</head>
<style>
    body {
      background-image: url('static/X4P96LXsgfeo.webp');
      background-repeat: no-repeat;
      background-size: cover;
      background-color: #000;
    }
  </style>
<body>
    <div class="menu">
        <button><a type="button" class="btn btn-danger btn-sm" href="/">Главная</a></button>
        <button><a type="button" class="btn btn-danger btn-sm" href="/">Уведомления</a></button>
        <button><a type="button" class="btn btn-danger btn-sm" href="/account/{{ id }}">Аккаунт</a></button>
        <button><a type="button" class="btn btn-danger btn-sm" href="/logout">Выйти</a></button>
      </div>

    <h1 class="titles">Проекты</h1>
    <div class = "project_container">
        {% for project in projects %}
            <div class="block">
                <div class="block-top">
                    <h2>{{ project[1] }}</h2>
                </div>
                <div class="block-content">
                    <ul>
                        <p><li>Автор: {{ project[0] }}</li></p>
                        <p><li>Тема: {{ project[2] }}</li></p>
                        <p><li id="about-proj">Описание:{{ project[3] }}</li></p>
                        <script>
                            var aboutProjs = document.querySelectorAll('#about-proj');
                        
                            aboutProjs.forEach(function(aboutProj) {
                                var maxLength = 60;
                                var fullDescription = aboutProj.innerText;
                                
                                if (fullDescription.length > maxLength) {
                                    aboutProj.innerText = fullDescription.substring(0, maxLength) + "...";
                                    var readMoreLink = document.createElement('a');
                                    readMoreLink.style = 'color: #434343'
                                    readMoreLink.href = '#';
                                    readMoreLink.innerText = 'Читать далее';
                                    readMoreLink.addEventListener('click', function() {
                                        aboutProj.innerText = fullDescription;
                                    });
                                    aboutProj.appendChild(readMoreLink);
                                }
                            });
                        </script>
                        <span class="badge rounded-pill" style="background-color: #9d698f;">{{ project[4]}}</span>
                        <p><form action="/join_the_project", method = "post"><button class="join" type="submit">Присоединиться к проекту</button></form></p>
                    </ul>
                </div>
            </div>
            
        {%endfor%}
    </div>

</body>
</html>