<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/href.css">
</head>
<style>
  body {
    background-image: url('static/X4P96LXsgfeo.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000;
  }
</style>
<body>
  <div class="menu">
    <button><a type="button" class="btn btn-danger btn-sm" href="/">Главная</a></button>
    <button><a type="button" class="btn btn-danger btn-sm" href="/">Друзья</a></button>
    <button><a type="button" class="btn btn-danger btn-sm" href="/account">Аккаунт</a></button>
    <button><a type="button" class="btn btn-danger btn-sm" href="/logout">Выйти</a></button>
  </div>
  
  <h1 class = "titles">Проекты</h1>
  <div class="container">
    <div class="block_project1">
      <h2><a href="/projects">Найти проект  мечты</a></h2>
    </div>
    <div class="block_project2">
      <h2><a href="/create_project">Создай проект мечты</a></h2>
    </div>
  </div>
  <h1 class = "titles">Хакатоны</h1>
  <div class="container">
    <div class="hackathon1">
      <h2>Поучаствуй в хакатоне</h2>
    </div>
    <div class="hackathon2">
      <h2>Создай свой хакатон</h2>
    </div>
  </div>
  <h1 class = "titles">Упражнения</h1>
  <div class="container">
    <div class="exersice1">
      <h2>Прорешай пару задачек</h2>
    </div>
    <div class="exersice2">
      <h2>Создай свои задачки</h2>
    </div>
  </div>
</body>

</html>