<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/reg.css">
</head>
<style>
  body {
    background-image: url('static/CUsSmhmp2rnz.webp');
    background-image: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
<body>
    <form action="/registration" method = "post" class="registration-block">
        <h2 class = "h2_reg">Регистрация</h2>
        <input placeholder="Логин" name = "login">
        <input type="password" placeholder="Пароль" name = "password">
        <input placeholder="Имя пользователя" name = "user_name">
        <input type = "submit" value="OK" class="button">
        <p><a href="/login" class = "www">Войти в аккаунт</a></p>
    </form>
    
</body>
</html>